<% include ./header.ejs %>

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <!-- <img src="../../../assets/img/ronet_main.jpg" alt="ronet_main" class="img-thumbnail"> -->
            <div class="info" style="padding:0 0 30px">
                <div class="icon icon-primary">
                    <img src="../../../assets/img/ronet_main.jpg" alt="ronet_main" class="img-thumbnail">
                </div>
                <h4 class="info-title">JEONG HYEON SOO</h4>
                <p>
                    백엔드 개발자<br>
                    NODE.JS, MongoDB, AWS를 이용한 서버 개발<br>
                </p>
            </div>
            <h2 class="title">PRODUCT</h2>
            <div class="row" id="ronet">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">RONET FOLIO</h4>
                            <p class="category">포트폴리오용 개인 WEB</p>
                        </div>
                        <div class="card-body">
                            <p>기술 스택 : AWS Ubuntu, Node.JS, Express, Bootstrap</p>
                            <p>제작 기간 : 2019.03.22 - 2019.03.22</p>
                            <p>깃허브 : <a href="https://github.com/ronet/portfolio">https://github.com/ronet/portfolio</a>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="row" id="data">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">Date Bee</h4>
                            <p class="category">데이터 크롤링 및 슬랙 메시지 전송</p>
                        </div>
                        <div class="card-body">
                            <p>기술 스택 : Node.JS, MongoDB, Crawling, Slack ...</p>
                            <p>중고나라에 맥북을 판매하는 새로운 글이 올라오면 메시지 전송</p>
                            <p>네이버 카페의 데이터를 request,cheerio로 크롤링 / MongoDB와 비교하여 기존에 값이 없을경우 저장 후 Slack 메신저로 발송</p>
                            <p>제작 기간 : 2019.03.26 - 2019.03.28</p>
                            <p>깃허브 : <a href="https://github.com/ronet/Data_Bee">https://github.com/ronet/Data_Bee</a> (수정중)
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="row" id="hoody">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">HOODY HOODY</h4>
                            <p class="category">수제, 맞춤 후드티 제작 사이트</p>
                        </div>
                        <div class="card-body">
                            <p>기술 스택 : AWS Ubuntu, Node.JS, Bootstrap, MongoDB, Oauth2 Framework ...</p>
                            <p>Express로 서버설계, MongoDB로 회원정보 및 컨텐츠 저장, Oauth2로 google Facebook 로그인 구현예정</p>
                            <p>제작 기간 : 설계 및 구상중</p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="row" id="data">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">pjt</h4>
                            <p class="category">연구용 프로젝트</p>
                        </div>
                        <div class="card-body">
                            <p>기술 스택 : AWS Lambda, Node.JS, MongoDB, Crawling, Oauth2 ...</p>
                            <p>크롤링, Oauth2 등.. 잡다한 연구용 프로젝트</p>
                            <p>제작 기간 : 2019.02.28 - 진행중</p>
                            <p>깃허브 : <a href="https://github.com/ronet/pjt">https://github.com/ronet/pjt</a> (연구 및 개발중)
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
            <h2 class="title">ABOUT ME</h2>
            <blockquote class="blockquote">
                <p class="mb-3">2013.03. 경남 김해 인제대학교 컴퓨터공학부 입학</p>
                <p class="mb-3">2018.08. 대학교 4학년 2학기 실습 (솔루션팀 개발 및 유지보수)</p>
                <p class="mb-3">2019.02. 실습 종료 및 인제대학교 졸업</p>
            </blockquote>
            <p>ronet423@gmail.com</p>
            <p>010-2557-7183</p>
        </div>
    </div>
</div>

<% include ./footer.ejs %>