<% include ./header.ejs %>

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <!-- <img src="../../../assets/img/ronet_main.jpg" alt="ronet_main" class="img-thumbnail"> -->
            <div class="info" style="padding:0 0 30px">
                <div class="icon icon-primary">
                    <img src="../../../assets/img/ronet_main.jpg" alt="ronet_main" class="img-thumbnail">
                </div>
                <h4 class="info-title">JEONG HYEON SOO</h4>
                <p>
                    백엔드 개발자<br>
                    NODE.JS, MongoDB, AWS를 이용한 서버 개발<br>
                </p>
            </div>
            <h2 class="title">PRODUCT</h2>
            <div class="row" id="ronet">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">RONET FOLIO</h4>
                            <p class="category">포트폴리오용 개인 WEB</p>
                        </div>
                        <div class="card-body">
                            <p>사용 기능 : AWS Ubuntu, Node.JS, Bootstrap</p>
                            <p>제작 기간 : 2019.03.22 - 2019.03.22</p>
                            <p>깃허브 : <a href="https://github.com/ronet/portfolio">https://github.com/ronet/portfolio</a>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="row" id="hoody">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">HOODY HOODY</h4>
                            <p class="category">수제, 맞춤 후드티 제작 사이트</p>
                        </div>
                        <div class="card-body">
                            <p>사용 기능 : AWS Ubuntu, Node.JS, Bootstrap, MongoDB, Youtube API, Instagram API ...</p>
                            <p>제작 기간 : 미정</p>
                            <p>깃허브 : (설계중)</p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="row" id="data">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">DATA BEE</h4>
                            <p class="category">데이터 크롤링 및 개인 연구용 사이트</p>
                        </div>
                        <div class="card-body">
                            <p>사용 기능 : AWS Ubuntu, Node.JS, MongoDB, Oauth Framework ...</p>
                            <p>제작 기간 : 2019.02.28 - 진행중</p>
                            <p>깃허브 : <a href="https://github.com/ronet/pjt">https://github.com/ronet/pjt</a> (연구 및 개발중)
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
            <h2 class="title">ABOUT ME</h2>
            <blockquote class="blockquote">
                <p class="mb-3">2013.03. 경남 김해 인제대학교 컴퓨터공학부 입학</p>
                <p class="mb-3">2018.08. 대학교 4학년 2학기 실습 (솔루션팀 개발 및 유지보수)</p>
                <p class="mb-3">2019.02. 실습 종료 및 인제대학교 졸업</p>
            </blockquote>
            <p>ronet423@gmail.com</p>
            <p>010-2557-7183</p>
        </div>
    </div>
</div>

<% include ./footer.ejs %>